<div class="contenedor">
  <br />
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="texto">
          <mat-card class="example-card">
            <mat-card-title>AyMo</mat-card-title>
            <mat-card-subtitle>Tu ayuntamiento en el móvil</mat-card-subtitle>
            <mat-card-content>
              <p>
                Nos puedes encontrar en C. Carlos Vázquez, 4, 13001 Ciudad Real,
                Cdad. Real o bien echarle un vistazo a este mapa
                <i class="fa-solid fa-map-location-dot"></i>
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      </div>
      <br><br>
      <div class="row">
      <div class="col-12">
        <div class="localizacion">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1607575.2209579668!2d-4.932278119365353!3d38.098427021619095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6bc36767dfb3c5%3A0xf96ac7cfef6af7b4!2sAyMo%20-%20Tu%20ayuntamiento%20en%20el%20m%C3%B3vil!5e0!3m2!1ses!2ses!4v1649162672559!5m2!1ses!2ses"
            width="600"
            height="450"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
